body {
    margin: 0;
}

h1 {
    color:black;
    margin: 0;
    font-family: 'DynaPuff', sans-serif;
    font-size: 50px;

  }

a {
    color: black;
    font-family: 'Sedgwick Ave Display', sans-serif;
    font-size: 16px;
    cursor: pointer;
    
    
    
  }

  .divAncoras {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    
  }

  nav {
    height: 50px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
   width: 100%;
  }

  a:hover {
    color: black;  
    }

.container {
    height: 300px;
    background-color: red;
    border: 5px solid black; 
    display: flex;

}

.contido {
    width: 500px;
    height: 250px;
    background-color: aqua;
    border: 5px solid #000;
}

.justifycontent {
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    justify-content: space-between;

}

.jc {
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}

.justifycontent_flexstart {
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    justify-content: flex-start;

}

.fs {
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}

.justifycontent_flexend {
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    justify-content: flex-end;

}

.fe {
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}

.justifycontent_flexcenter {
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    justify-content: center;

}

.fc {
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}

.justifycontent_space-around {
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    justify-content: space-around;

}

.sa{
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}

.justifycontent_space-evenly {
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    justify-content: space-evenly;

}

.se{
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}

.row {
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    flex-direction: row;

}

.ro{
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}

.row_reverse{
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    flex-direction: row-reverse;

}

.rs{
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}

.column{
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    flex-direction: column;

}

.co{
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}

.column_reverse{
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    flex-direction: column-reverse;

}

.cr{
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}  

.stretch{
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    align-items: stretch;

}

.st{
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}

.center{
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    align-items: center;

}

.ct{
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}  

.Start{
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    align-items: flex-start;

}

.ai{
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}  

.end{
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    align-items: flex-end;

}

.en{
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}  

.baseline{
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    align-items:baseline;

}

.bl{
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}  

.nowrap{
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    flex-wrap: nowrap;
}

.nw{
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}  

.wrap{
    width: 600;
    height: 300px;
    background-color: aqua;
    border: 5px solid black; 
    display: flex;
    flex-wrap: nowrap;
}

.wp{
    width: 200px;
    height: 250px;
    background-color: red;
    border: 5px solid #000;
}  


